# Set with `make LOCALVERSION=-fumos-$SOC` in a script
# CONFIG_LOCALVERSION is not set

CONFIG_USB_NET_RNDIS_HOST=m

# Sony PS2/3/4 accessories
CONFIG_HID_SONY=m
CONFIG_SONY_FF=y
CONFIG_HID_BATTERY_STRENGTH=y
CONFIG_SND_USB_AUDIO=m

CONFIG_HID_PLAYSTATION=m
CONFIG_PLAYSTATION_FF=y
CONFIG_LEDS_CLASS_MULTICOLOR=y

# USB FTDI Single Port Serial Driver
CONFIG_USB_SERIAL=m
CONFIG_USB_SERIAL_FTDI_SIO=m

CONFIG_USB_NET_DM9601=m

# Realtek Wi-Fi
CONFIG_RTL8XXXU=m
